.searchbox{
    
    outline: none;
    border: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(245, 245, 245);
    margin-top: 15px;
}

.contsearch{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    /* margin: 20px; */
    /* padding-top: 15px; */
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
}
.extdiv{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
.extdiv p{
    margin: 10px;
}

.secbut{
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #72efae;
    display: inline block;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.secbut:hover {background-color: #72efae}

.secbut:active {
  background-color: #72efae;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.extdiv p{
    padding: 5px;
    background-color: white;
    border-start-end-radius: 10px;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.secdiv{
     width: 100%; 
}